{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sammy Ocharo | Portfolio</title>

    <link rel="stylesheet" href="{% static 'css/default.css' %}">

    <link id="theme-style" rel="stylesheet" href="">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&family=Russo+One&display=swap" rel="stylesheet">
</head>

<body>
    {% block content %} {% endblock content %}
    <script type="text/javascript">
        let static = "{% static 'css' %}"
    </script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>

</html>