{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sammy Ocharo | Portfolio</title>

    <link rel="stylesheet" href="{% static 'css/default.css' %}">

    <link id="theme-style" rel="stylesheet" href="">
    <link rel="shortcut icon" href="{%  static  'media/Favicon.ico' %}" type="image/icon">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&family=Russo+One&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    {% block content %} {% endblock content %}

    <script type="text/javascript">
        let static = "{% static 'css' %}"
    </script>
    <script type="text/javascript">
        let display = "{% static 'css/default.css/bg-modal' %}"
    </script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>

</html>