{% extends 'Base.html' %} {% block content %} {% load static %}

<section class="s1">
    <div class="main-container">
        <div class="greeting-wrapper">
            <h1>Hi, I am Sammy Ocharo</h1>
        </div>
        <div class="intro-wrapper">
            {% include 'Navbar.html' %}
            <div class="left-column">
                <img id="profile_picture" src="{% static 'media/pic.jpg' %}" alt="">
                <h5 style="text-align: center; margin: 0;">Personalize theme</h5>
                <div id="theme-option">
                    <div data-mode="light" id="light-mode" class="theme-dot"></div>
                    <div data-mode="blue" id="blue-mode" class="theme-dot"></div>
                    <div data-mode="green" id="green-mode" class="theme-dot"></div>
                    <div data-mode="purple" id="purple-mode" class="theme-dot"></div>
                </div>
                <p id="settings-note">Theme will be saved for<br> your next visit</p>
            </div>
            <div class="right-column">
                <div id="preview-shadow">
                    <div id="preview">
                        <div id="corner-tl" class="corner"></div>
                        <div id="corner-tr" class="corner"></div>
                        <h3>What I Do</h3>
                        <p>Full Stack Developer, Python django with React</p>
                        <div id="corner-bl" class="corner"></div>
                        <div id="corner-br" class="corner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="s2">
    <div class="main-container">
        <div class="about-wrapper">
            <div class="about-me" id="about">
                <h4>More About Me</h4>
                <p>Have had great interest in website development eaver since i got the chance to understand what it is all about</p>
                <p>While i didnt get the right tools to kick start my programming journey early i promised myself will always make up for the time i never used earlier to learn programming.</p>
                <hr>

                <h4>Top Expertise</h4>
                <p>Full Stack developer with primery and key interest on Django and React: <a href="{% static 'SAMMY_OBANYI_CV.pdf' %}" target="_blank">Download Resume</a></p>

                <div id="skills">
                    <ul>
                        <li>Python</li>
                        <li>Django</li>
                        <li>React</li>
                        <li>Javascript</li>
                        <li>Heroku</li>
                    </ul>
                    <ul>
                        <li>MySql/PostGresql</li>
                        <li>JQuery</li>
                        <li>Docker</li>
                        <li>K8s</li>
                        <li>AWS S3</li>

                    </ul>
                </div>
            </div>
            <div class="social-links">
                <a href="https://github.com/SammyOcharo" target="_blank"><img id="social_img" src="{% static 'media/github.jpeg' %}" alt=""></a>
            </div>
        </div>
    </div>
</section>
<section class="s1">
    <div class="main-container" id="achievement">
        <h3 style="text-align: center;">Achievements</h3>
        <div class="post-wrapper">
            <div>
                <div class="post">
                    <a href="https://rocky-sierra-72390.herokuapp.com/" target="_blank"><img class="thumbnail" src="{% static 'media/portfolio.png' %}" alt=""></a>
                    <div class="post-preview">
                        <h6 class="project-title">My Carrier Portfolio</h6>
                    </div>
                </div>
            </div>
            <div>
                <div class="post">
                    <a href="#" target="_blank"><img class="thumbnail" src="{% static 'media/coffee.png' %}" alt=""></a>
                    <div class="post-preview">
                        <h6 class="project-title">CAFENA coffee website</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="s2" id="feedback">
    <div class="main-container">
        <h3 style="text-align: center;">Clientele Feedback</h3>
        <div class="post-wrapper">
            {% for Feedback in feedbacks %}
            <div>
                <div class="post">
                    <img class="thumbnail" src="{% static 'media/passy.jpg' %}" alt="">
                    <div class="post-preview">
                        <h6 class="project-title">Client's Name: {{ Feedback.Title }}</h6>
                        <br>
                        <p class="project-intro">Remark: {{ Feedback.Remark }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
</section>
<section class="s1" id="contact">
    <div class="main-container">
        <h3 style="text-align: center;">Contact Me</h3>
        <form id="contact-form">
            <label>Name</label>
            <input class="input-field" name="name" type="text">
            <label>Subject</label>
            <input class="input-field" name="subject" type="text">
            <label>Email</label>
            <input class="input-field" name="email" type="text">
            <label>Message</label>
            <textarea class="input-field" name="message" type="text"></textarea>

            <input id="submit-btn" type="submit" value="send">
        </form>
    </div>
    <small style="float: right;"><span style="font-weight: 400;">© 2021 obanyisammy@gmail.com</span></small>
</section>
{% endblock content %}