<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div class="nav-wrapper">
        <div class="dots-wrapper">
            <div id="dot-1" class="browser-dot"></div>
            <div id="dot-2" class="browser-dot"></div>
            <div id="dot-3" class="browser-dot"></div>
        </div>
        <ul id="navigation">
            <li><a href="#">About Me</a></li>
            <li><a href="#">Achievements</a></li>
            <li><a href="#">Contact Me</a></li>
        </ul>
    </div>
</body>

</html>