{% extends 'Base.html' %}{% block content %} {% include 'Navbar.html' %}
<h2 style="color: black; text-align: center;">All my projects</h2>

<div class="post-wrapper">
    <div>
        <div class="post">
            <img class="thumbnail" src="media/pic.jpg" alt="">
            <div class="post-preview">
                <h6 class="project-title">Project Title</h6>
                <p class="project-intro"> This is a sentence. bla bla bla</p>
                <a href="post">Check Project</a>
            </div>
        </div>
    </div>
    <div>
        <div class="post">
            <img class="thumbnail" src="media/pic.jpg" alt="">
            <div class="post-preview">
                <h6 class="project-title">Project Title</h6>
                <p class="project-intro"> This is a sentence. bla bla bla</p>
                <a href="post">Check Project</a>
            </div>
        </div>
    </div>
    <div>
        <div class="post">
            <img class="thumbnail" src="media/pic.jpg" alt="">
            <div class="post-preview">
                <h6 class="project-title">Project Title</h6>
                <p class="project-intro"> This is a sentence. bla bla bla</p>
                <a href="post">Check Project</a>
            </div>
        </div>
    </div>
</div>
<div class="post-wrapper">
    <div>
        <div class="post">
            <img class="thumbnail" src="media/pic.jpg" alt="">
            <div class="post-preview">
                <h6 class="project-title">Project Title</h6>
                <p class="project-intro"> This is a sentence. bla bla bla</p>
                <a href="post">Check Project</a>
            </div>
        </div>
    </div>
    <div>
        <div class="post">
            <img class="thumbnail" src="media/pic.jpg" alt="">
            <div class="post-preview">
                <h6 class="project-title">Project Title</h6>
                <p class="project-intro"> This is a sentence. bla bla bla</p>
                <a href="post">Check Project</a>
            </div>
        </div>
    </div>
    <div>
        <div class="post">
            <img class="thumbnail" src="media/pic.jpg" alt="">
            <div class="post-preview">
                <h6 class="project-title">Project Title</h6>
                <p class="project-intro"> This is a sentence. bla bla bla</p>
                <a href="post">Check Project</a>
            </div>
        </div>
    </div>
</div>
<div class="post-wrapper">
    <div>
        <div class="post">
            <img class="thumbnail" src="media/pic.jpg" alt="">
            <div class="post-preview">
                <h6 class="project-title">Project Title</h6>
                <p class="project-intro"> This is a sentence. bla bla bla</p>
                <a href="post">Check Project</a>
            </div>
        </div>
    </div>
    <div>
        <div class="post">
            <img class="thumbnail" src="media/pic.jpg" alt="">
            <div class="post-preview">
                <h6 class="project-title">Project Title</h6>
                <p class="project-intro"> This is a sentence. bla bla bla</p>
                <a href="post">Check Project</a>
            </div>
        </div>
    </div>
    <div>
        <div class="post">
            <img class="thumbnail" src="media/pic.jpg" alt="">
            <div class="post-preview">
                <h6 class="project-title">Project Title</h6>
                <p class="project-intro"> This is a sentence. bla bla bla</p>
                <a href="post">Check Project</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}